{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование | GOSTI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{% static 'js/reservation.js' %}" defer></script>
    <script src="{% static 'js/imask/Imask.min.js' %}"></script>
</head>
<body>

    <!-- Шапка -->
    <header class="bg-white py-2 px-5 d-flex justify-content-between align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
        <div class="text-center logo-title" style="font-size: 36px; font-family: 'Aboreto', cursive;"><a href="/">GOSTI<p style="font-size: 12px; vertical-align: bottom; margin-top: -10px;">VLADIVOSTOK</p></a></div>




        <nav class="d-none d-md-flex">
            <a href="#" class="text-dark text-decoration-none mx-3">О нас</a>
            <a href="{% url 'catalog' %}" class="text-dark text-decoration-none mx-3">Квартиры</a>
            <a href="#reviews" class="text-dark text-decoration-none mx-3">Отзывы</a>
            <a href="#questions" class="text-dark text-decoration-none mx-3">Вопросы</a>
            <a href="#" class="text-dark text-decoration-none mx-3">Контакты</a>
        </nav>
        <div class="text-end mobile-header-end">

    <div class="d-flex align-items-center justify-content-end header-phone-block">
    <a href="https://t.me/your_username" class="me-2 text-primary fs-5" target="_blank">
        <img src="{% static 'img/telegram.png' %}" alt="telegram" class="img-fluid">
    </a>
    <a href="https://wa.me/79001234567" class="me-2 text-success fs-5" target="_blank">
        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="img-fluid">
    </a>
    <a href="tel:+79001234567" class="mb-0 text-dark ms-2">+7 (900) 123-45-67</a>
</div>



            {% if user.is_authenticated %}
    <div class="text-end d-flex align-items-center justify-content-end notMobile">
        <a href="#" class="text-dark text-decoration-none me-2" id="profileLink">{{ user.username }}</a>
        <i class="bi bi-person fs-5 text-dark"></i>
    </div>
            {% else %}
    <div class="text-end d-flex align-items-center justify-content-end notMobile">
        <a href="{% url 'login' %}" class="text-dark text-decoration-none me-2">Личный кабинет</a>
        <i class="bi bi-person fs-5 text-dark"></i>
    </div>
            {% endif %}

            {% if user.is_authenticated %}
    <div class="text-end d-flex align-items-center justify-content-end d-md-none">
        <a href="#" class="text-dark text-decoration-none me-2" id="profileLink2"><i class="bi bi-person fs-5 text-dark"></i></a>

    </div>
            {% else %}
    <div class="text-end d-flex align-items-center justify-content-end d-md-none">
        <a href="{% url 'login' %}" class="text-dark text-decoration-none me-2"><i class="bi bi-person fs-5 text-dark"></i></a>
    </div>
            {% endif %}

    <!-- Шторка -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-content mt-5 text-center">
            <span class=" fs-5 text-center">Рады видеть вас вновь</span>
            {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            {% endif %}
        </div>
        <div class="sidebar-content mt-5" style="text-align: left;">
            <span class=" fs-6">Бронирования</span>
            <hr>
            {% if active_bookings %}
            {% for booking in active_bookings %}
            <div class="active-booking">
                <div class="row mb-3">
                <div class="col-12">
                    <a href="{% url 'card' booking.apartment.id %}">
                        <img src="{% static 'img/Frame 610.png' %}" alt="Фото квартиры" class="img-fluid">
                    </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'card' booking.apartment.id %}" class="fs-6">{{ booking.apartment.name }}</a>
                            <span class="text-muted"><i class="bi bi-people fs-6"></i> до {{ booking.apartment.quantity_people }} мест</span>
                            <span class="text-muted"><i class="bi bi-arrows-angle-contract"></i> {{ booking.apartment.square }} м²</span>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <span><strong>Заезд:</strong> {{ booking.start_date|date:"d-m-Y" }} <span class="text-muted ms-3">c 14:00</span></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span><strong>Выезд:</strong> {{ booking.end_date|date:"d-m-Y" }} <span class="text-muted ms-3">до 12:00</span></span>
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <span>Стоимость</span>
                            <span>{{ booking.total_price|round_price }} ₽ <span class="card-text text-muted fs-6">/ {{ booking.get_total_days }} суток</span></span>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p>Нет активных бронирований</p>
        {% endif %}
        </div>
        <div class="sidebar-content text-center">
            <a href="{% url 'logout' %}" id="logoutLink" class="text-dark">
                <i class="bi bi-box-arrow-right fs-4 me-1"></i> Выйти
            </a>
        </div>
        <button id="closeSidebar" class="btn-close"></button>
    </div>

    <div id="overlay" class="overlay"></div>
            <button class="d-md-none border-0 bg-transparent fs-2" id="burgerMenu">
            <i class="bi bi-list"></i>
        </button>

</div>

        </div>
    </header>

    <!-- Шторка навигации -->
<div id="mobileNav" class="mobile-nav d-md-none">
    <nav class="d-flex flex-column text-center py-3">
        <a href="#" class="text-dark text-decoration-none py-2">О нас</a>
        <a href="{% url 'catalog' %}" class="text-dark text-decoration-none py-2">Квартиры</a>
        <a href="#reviews" class="text-dark text-decoration-none py-2">Отзывы</a>
        <a href="#questions" class="text-dark text-decoration-none py-2">Вопросы</a>
        <a href="#" class="text-dark text-decoration-none py-2">Контакты</a>
        <hr>
        <a href="tel:+79001234567" class="text-dark text-decoration-none py-2">+7 (900) 123-45-67</a>
    </nav>
</div>




<section class="container mt-5 reservation">
    <div class="row">
        <div class="col-md-4">
            <span class="fs-2 d-block reservation-main-title" style="color: #284356; font-size: 32px; font-weight: 500;">Введите свои данные</span>
            <hr class="mt-1">
        </div>
    </div>


    <form id="booking-form" method="post" data-card-id="{{ card_info.id }}">
        {% csrf_token %}
        <div class="row">
            <!-- Левая часть: Поля формы -->
            <div class="col-md-4 reservation-form-contact">
                <div class="row mt-4">
                    <div class="col-md-6 reservation-form-surname">
                        {{ form.surname }}
                    </div>
                    <div class="col-md-6">
                        {{ form.name }}
                    </div>
                </div>
                <div class="form-group mt-4 reservation-form-patronymic">
                    {{ form.patronymic }}
                </div>
                <div class="row mt-4">
                    <div class="col-md-6 reservation-form-phone">
                        {{ form.phone }}
                    </div>
                    <div class="col-md-6 reservation-form-email">
                        {{ form.email }}
                    </div>
                </div>
                <div class="form-group mt-5 reservation-form-comment">
                    {{ form.comment }}
                </div>
            </div>

            <!-- Правая часть: Информация о бронировании -->
            <div class="col-md-6 ms-auto reservation-block-bron">
                <div class="border p-3 info-bron">
                    <span class="fs-4 reservation-title" style="color: #284356; font-size: 32px; font-weight: 500;">Ваше бронирование</span>
                    <p id="days-count">1 сутки</p>
                    <div class="row">
                        <div class="col-md-4 mt-4">
                            {% if date_in %}
                            <input type="text" class="form-control" id="check-in-date" name="check-in-date" required placeholder=" " value="{{ date_in }}">
                            {% else %}
                            <input type="text" class="form-control" id="check-in-date" name="check-in-date" required placeholder=" " value="{{ date_now }}">
                            {% endif %}
                        </div>
                        <div class="col-md-4 mt-4">
                            {% if date_out %}
                            <input type="text" class="form-control" id="check-out-date" name="check-out-date" required placeholder=" " value="{{ date_out }}">
                            {% else %}
                            <input type="text" class="form-control" id="check-out-date" name="check-out-date" required placeholder=" " value="{{ date_tomorrow }}">
                            {% endif %}
                        </div>
                    </div>
                    <p class="text-muted mb-4" style="font-size: 16px; color: #A8A7A7 !important;"><span class="ms-1">С 14:00</span> <span style="margin-left: 150px; color: #A8A7A7 !important;">До 12:00</span></p>
                    <div class="reservation-apart-info">
                    <span style="font-size: 24px; font-weight: 500;" class="reservation-apart-info-name">{{ card_info.name }}</span>
                    <span class="card-text text-muted ms-4"><i class="bi bi-people fs-6" style="color: #A8A7A7 !important;"></i> до {{ card_info.quantity_people }} мест</span>
                    <span class="text-muted ms-4"><i class="bi bi-arrows-angle-contract" style="color: #A8A7A7 !important;"></i> {{ card_info.square }} м²</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between mt-5 reservation-block-price">
                        <span style="font-size: 24px; font-weight: 500;">К оплате:</span>
                        <span style="font-size: 32px; font-family: Manrope;"><strong id="total-price" data-default-price="{{ card_info.price|round_price }}">{{ card_info.price|round_price }}</strong></span>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="terms-checkbox" required>
                        <label class="form-check-label" for="terms-checkbox" style="font-size: 14px;">
                            Подтверждаю факт ознакомления и принятия условий <a href="#" target="_blank" style="color: #284356 !important; font-weight: 600;">пользовательского соглашения</a>
                        </label>
                    </div>
                    <div class="mt-3" style="text-align: right;">
                        <button class="btn btn-primary w-50 bron reservation-bron-button" style="font-weight: 500;">Забронировать</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Кнопка бронирования -->
    </form>
</section>


<div class="container mt-5 payment-container">
    <span class="fs-2 payment-title" style="color: #284356; font-size: 32px; font-weight: 500;">Выберите способ оплаты</span>

    <div class="row align-items-start mt-4">
        <div class="col-lg-8">
            <span class="fs-4 rus-card" style="font-weight: 600;">Российская банковская карта</span>
            <p class="text-muted" style="color: #A8A7A7 !important;">Visa, Mastercard, Мир, SberPay, СБП</p>
            <p style="font-size: 20px;" class="payment-card-dop">Оплачивается вся сумма брони.</p>
            <p style="font-size: 20px;" class="payment-card-dop">Данный способ оплаты поддерживает платежи только с карт, выпущенных российскими банками, а также с карт платёжной системы Мир, выпущенных банками других стран.</p>
            <p style="font-size: 20px;" class="payment-card-dop">Кассовый чек в электронном виде будет предоставлен ООО «Комфорт Букинг». Вы получите его после оплаты на адрес электронной почты, который указали при бронировании. Закрывающие документы, подтверждающие факт проживания и оказания услуг за весь период, вам предоставит средство или объект размещения.</p>
            <p style="font-size: 20px;" class="payment-card-dop">Обработка платежей осуществляется процессинговой системой PayAnyWay.</p>
        </div>

        <div class="col-lg-4 text-lg-end mt-3 mt-lg-0 card-company-img">
            <img src="{% static 'img/master card.png' %}" alt="MasterCard" class="me-2" height="45">
            <img src="{% static 'img/visa.png' %}" alt="Visa" class="me-2" height="30">
            <img src="{% static 'img/mir.png' %}" alt="Мир" height="30">
        </div>
    </div>
</div>





    <section class="container my-5 end-container" id="questions">
        <span class="fs-2 text-left mb-4 end-container-title" style="font-size: 48px; font-weight: 500; line-height: 48px;">Остались вопросы?</span>

    <p class="text-left mb-5 mt-4 end-container-desc" style="margin-bottom: 80px !important; font-weight: 500; font-size: 20px;">Мы понимаем, что аренда квартиры — это важное решение, и у вас <br>могут возникнуть дополнительные вопросы. Наша команда всегда <br>готова помочь вам!</p>

    <div class="d-flex justify-content-between align-items-center position-relative end-container-block-img">


        <!-- Форма -->
        <div class="position-absolute end-0 translate-middle-y w-25 p-3 me-5 bg-white border rounded shadow-sm form-end">
            <form method="POST" id="feedback-form">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form_2.name.id_for_label }}" class="form-label" style="font-size: 20px; font-weight: 500;">Имя</label>
                    {{ form_2.name }}
                </div>
                <div class="mb-3">
                    <label for="{{ form_2.phone.id_for_label }}" class="form-label" style="font-size: 20px; font-weight: 500;">Номер телефона</label>
                    {{ form_2.phone }}
                </div>
                <div class="mb-3">
                    <label for="{{ form_2.comment.id_for_label }}" class="form-label" style="font-size: 20px; font-weight: 500;">Сообщение</label>
                    {{ form_2.comment }}
                </div>
                <button type="submit" class="btn btn-primary w-100 form-end-button">Оставить заявку</button>
            </form>
        </div>
        <div class="end-img">
            <img src="{% static 'img/image 332.png' %}" alt="Question Image" class="w-100">
        </div>
    </div>
</section>
    <section class="container my-5">
    <footer class="bg-white py-3 px-5 d-flex justify-content-between align-items-center footer footer-desktop">
    <div class="nav-container d-flex justify-content-center w-75">
        <nav>
            <a href="#" class="text-dark text-decoration-none mx-3">О нас</a>
            <a href="{% url 'catalog' %}" class="text-dark text-decoration-none mx-3">Квартиры</a>
            <a href="/#reviews" class="text-dark text-decoration-none mx-3">Отзывы</a>
            <a href="#questions" class="text-dark text-decoration-none mx-3">Вопросы</a>
            <a href="#" class="text-dark text-decoration-none mx-3">Контакты</a>
        </nav>
    </div>
    <div class="text-end">
        <div class="d-flex align-items-center justify-content-end">
    <a href="https://t.me/your_username" class="me-2 text-primary fs-5" target="_blank">
        <img src="{% static 'img/telegram.png' %}" alt="telegram" class="img-fluid">
    </a>
    <a href="https://wa.me/79001234567" class="me-2 text-success fs-5" target="_blank">
        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="img-fluid">
    </a>
    <a href="tel:+79001234567" class="mb-0 text-dark ms-2">+7 (900) 123-45-67</a>
</div>

        <div class="text-end d-flex align-items-center justify-content-end">
            <span>г. Владивосток</span>
        </div>
    </div>
</footer>

        <footer class="bg-white py-3 px-5 d-flex justify-content-between align-items-center footer d-md-none footer-mobile">

    <div class="text-end">
        <div class="d-flex align-items-center justify-content-end">
    <a href="https://t.me/your_username" class="me-2 text-primary fs-5" target="_blank">
        <img src="{% static 'img/telegram.png' %}" alt="telegram" class="img-fluid">
    </a>
    <a href="https://wa.me/79001234567" class="me-2 text-success fs-5" target="_blank">
        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="img-fluid">
    </a>
    <a href="tel:+79001234567" class="mb-0 text-dark ms-2">+7 (900) 123-45-67</a>
</div>

        <div class="text-end d-flex align-items-center justify-content-end">
            <span>г. Владивосток</span>
        </div>
    </div>
</footer>

        <div class="modal fade" id="loginErrorModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Сообщение</h5>
            </div>
            <div class="modal-body" id="modalMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="redirectButton" style="display:none;">Перейти к каталогу</button>
            </div>
        </div>
    </div>
</div>

        <div class="modal fade" id="FeedbackModal" tabindex="-1" aria-labelledby="FeedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title me-1" id="FeedbackModalLabel">Спасибо!</h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 41 41" fill="none">
                <path d="M20.5003 38.8646C10.3699 38.8646 2.13574 30.6304 2.13574 20.5C2.13574 10.3696 10.3699 2.13541 20.5003 2.13541C30.6307 2.13541 38.8649 10.3696 38.8649 20.5C38.8649 30.6304 30.6307 38.8646 20.5003 38.8646ZM20.5003 4.69791C11.7878 4.69791 4.69824 11.7875 4.69824 20.5C4.69824 29.2125 11.7878 36.3021 20.5003 36.3021C29.2128 36.3021 36.3024 29.2125 36.3024 20.5C36.3024 11.7875 29.2128 4.69791 20.5003 4.69791Z" fill="#FCFCFF"/>
                <path d="M18.0745 26.6158C17.7328 26.6158 17.4082 26.4792 17.169 26.24L12.3345 21.4054C11.839 20.91 11.839 20.09 12.3345 19.5946C12.8299 19.0992 13.6499 19.0992 14.1453 19.5946L18.0745 23.5238L26.8553 14.7429C27.3507 14.2475 28.1707 14.2475 28.6661 14.7429C29.1615 15.2383 29.1615 16.0583 28.6661 16.5538L18.9799 26.24C18.7407 26.4792 18.4161 26.6158 18.0745 26.6158Z" fill="#FCFCFF"/>
                </svg>
            </div>
            <div class="modal-body" id="modalMessageFeedback">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="redirectButtonFeedback" style="display:none;">Перейти к каталогу</button>
            </div>
        </div>
    </div>
</div>
    </section>








    <!-- Подключение Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    const bookedDates = JSON.parse('{{ booked_dates|escapejs }}');

    flatpickr("#check-in-date", {
        dateFormat: "Y-m-d",
        minDate: "{{ date_now }}",
        disable: bookedDates,
        onChange: function (selectedDates, dateStr) {
            let nextDay = new Date(dateStr);
            nextDay.setDate(nextDay.getDate() + 1);
            checkOutPicker.set("minDate", dateStr);
            checkOutPicker.set("minDate", nextDay.toISOString().split('T')[0]);
        }
    });

    const checkOutPicker = flatpickr("#check-out-date", {
        dateFormat: "Y-m-d",
        minDate: "{{ date_tomorrow }}",
        disable: bookedDates
    });
});
</script>
<script defer>
document.addEventListener('DOMContentLoaded', () => {

    document.querySelectorAll('input[type="tel"]').forEach(input => {
        let phoneMask = IMask(input, { mask: "+{7} (000) 000-00-00" });

        function validatePhoneNumber() {
            let t = input.value.replace(/\D/g, "");
            return t.length < 11 ? (input.setCustomValidity("Необходимо минимум 11 цифр"), !1) : (input.setCustomValidity(""), !0);
        }

        input.addEventListener("input", validatePhoneNumber);
    });
});
</script>
</body>
</html>


