{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточка | GOSTI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <script src="{% static 'js/register.js' %}" defer></script>
</head>
<body>

    <!-- Шапка -->
    <header class="bg-white py-2 px-5 d-flex justify-content-between align-items-center">
        <div class="container d-flex justify-content-between align-items-center">
        <div class="text-center logo-title" style="font-size: 36px; font-family: 'Aboreto', cursive;"><a href="/">GOSTI<p style="font-size: 12px; vertical-align: bottom; margin-top: -10px;">VLADIVOSTOK</p></a></div>




        <nav class="d-none d-md-flex">
            <a href="#" class="text-dark text-decoration-none mx-3">О нас</a>
            <a href="{% url 'catalog' %}" class="text-dark text-decoration-none mx-3">Квартиры</a>
            <a href="#reviews" class="text-dark text-decoration-none mx-3">Отзывы</a>
            <a href="#questions" class="text-dark text-decoration-none mx-3">Вопросы</a>
            <a href="#" class="text-dark text-decoration-none mx-3">Контакты</a>
        </nav>
        <div class="text-end mobile-header-end">

    <div class="d-flex align-items-center justify-content-end header-phone-block">
    <a href="https://t.me/your_username" class="me-2 text-primary fs-5" target="_blank">
        <img src="{% static 'img/telegram.png' %}" alt="telegram" class="img-fluid">
    </a>
    <a href="https://wa.me/89941136888" class="me-2 text-success fs-5" target="_blank">
        <img src="{% static 'img/whatsapp.png' %}" alt="whatsapp" class="img-fluid">
    </a>
    <a href="tel:89941136888" class="mb-0 text-dark ms-2">8 (994) 113-68-88</a>
</div>



            {% if user.is_authenticated %}
    <div class="text-end d-flex align-items-center justify-content-end notMobile">
        <a href="#" class="text-dark text-decoration-none me-2" id="profileLink">{{ user.username }}</a>
        <i class="bi bi-person fs-5 text-dark"></i>
    </div>
            {% else %}
    <div class="text-end d-flex align-items-center justify-content-end notMobile">
        <a href="{% url 'login' %}" class="text-dark text-decoration-none me-2">Личный кабинет</a>
        <i class="bi bi-person fs-5 text-dark"></i>
    </div>
            {% endif %}

            {% if user.is_authenticated %}
    <div class="text-end d-flex align-items-center justify-content-end d-md-none">
        <a href="#" class="text-dark text-decoration-none me-2" id="profileLink"><i class="bi bi-person fs-5 text-dark"></i></a>

    </div>
            {% else %}
    <div class="text-end d-flex align-items-center justify-content-end d-md-none">
        <a href="{% url 'login' %}" class="text-dark text-decoration-none me-2"><i class="bi bi-person fs-5 text-dark"></i></a>
    </div>
            {% endif %}

    <!-- Шторка -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-content mt-5 text-center">
            <span class=" fs-5 text-center">Рады видеть вас вновь</span>
            {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            {% endif %}
        </div>
        <div class="sidebar-content mt-5" style="text-align: left;">
            <span class=" fs-6">Бронирования</span>
            <hr>
            {% if active_bookings %}
            {% for booking in active_bookings %}
            <div class="active-booking">
                <div class="row mb-3">
                <div class="col-12">
                    <a href="{% url 'card' booking.apartment.id %}">
                        <img src="{% static 'img/Frame 610.png' %}" alt="Фото квартиры" class="img-fluid">
                    </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'card' booking.apartment.id %}" class="fs-6">{{ booking.apartment.name }}</a>
                            <span class="text-muted"><i class="bi bi-people fs-6"></i> до {{ booking.apartment.quantity_people }} мест</span>
                            <span class="text-muted"><i class="bi bi-arrows-angle-contract"></i> {{ booking.apartment.square }} м²</span>
                        </div>
                        <div class="d-flex justify-content-between mt-4">
                            <span><strong>Заезд:</strong> {{ booking.start_date|date:"d-m-Y" }} <span class="text-muted ms-3">c 14:00</span></span>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <span><strong>Выезд:</strong> {{ booking.end_date|date:"d-m-Y" }} <span class="text-muted ms-3">до 12:00</span></span>
                        </div>
                        <div class="d-flex justify-content-between mt-5">
                            <span>Стоимость</span>
                            <span>{{ booking.total_price|round_price }} ₽ <span class="card-text text-muted fs-6">/ {{ booking.get_total_days }} суток</span></span>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
        {% else %}
            <p>Нет активных бронирований</p>
        {% endif %}
        </div>
        <div class="sidebar-content text-center">
            <a href="{% url 'logout' %}" id="logoutLink" class="text-dark">
                <i class="bi bi-box-arrow-right fs-4 me-1"></i> Выйти
            </a>
        </div>
        <button id="closeSidebar" class="btn-close"></button>
    </div>

    <div id="overlay" class="overlay"></div>
            <button class="d-md-none border-0 bg-transparent fs-2" id="burgerMenu">
            <i class="bi bi-list"></i>
        </button>

</div>

        </div>
    </header>

    <!-- Шторка навигации -->
<div id="mobileNav" class="mobile-nav d-md-none">
    <nav class="d-flex flex-column text-center py-3">
        <a href="#" class="text-dark text-decoration-none py-2">О нас</a>
        <a href="{% url 'catalog' %}" class="text-dark text-decoration-none py-2">Квартиры</a>
        <a href="#reviews" class="text-dark text-decoration-none py-2">Отзывы</a>
        <a href="#questions" class="text-dark text-decoration-none py-2">Вопросы</a>
        <a href="#" class="text-dark text-decoration-none py-2">Контакты</a>
        <hr>
        <a href="tel:89941136888" class="text-dark text-decoration-none py-2">8 (994) 113-68-88</a>
    </nav>
</div>


    <div class="container d-flex justify-content-center align-items-center mb-5">
        <div class="container login-container text-white">
            <div class="login-content">
                <h2 class="text-center mb-5">Добро пожаловать в программу Аренда Квартир Владивосток</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="text-left mb-5">
                            <span class="fs-5">Регистрация</span>
                        </div>
                        <form id="register-form" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.username }}
                            </div>
                            <div class="mb-5">
                                {{ form.password }}
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                            <button class="btn btn-primary w-100 login-button">Зарегистрироваться</button>
                        </form>
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-between ms-auto">

                        <div class="info-register">
                            <span>Скидки на первую аренду</span>
                            <p style="color: #A8A7A7;">Новые пользователи могут получить скидку на первую бронь, что делает аренду более выгодной.</p>
                        </div>
                        <div>
                            <span>Бонусные баллы</span>
                            <p style="color: #A8A7A7;">За регистрацию и последующие бронирования пользователи могут накапливать баллы, которые можно использовать для получения скидок на будущие аренды.</p>
                        </div>
                        <div>
                            <span>Удобство управления бронированиями</span>
                            <p style="color: #A8A7A7;">Личный кабинет позволяет легко управлять своими бронированиями, отслеживать историю и сохранять любимые объекты.</p>
                        </div>
                        <div>
                            <span>Информация о новых объектах</span>
                            <p style="color: #A8A7A7;">Участники программы будут первыми узнавать о новых квартирах, добавленных в каталог, и о специальных предложениях.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="loginErrorModal" tabindex="-1" aria-labelledby="loginErrorModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="loginErrorModalLabel">
                                          Ошибка регистрации
                                          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="33" viewBox="0 0 40 39" fill="none">
                                            <path d="M20 23.9688C19.3338 23.9688 18.7812 23.4163 18.7812 22.75V14.625C18.7812 13.9588 19.3338 13.4062 20 13.4062C20.6662 13.4062 21.2188 13.9588 21.2188 14.625V22.75C21.2188 23.4163 20.6662 23.9688 20 23.9688Z" fill="#FCFCFF"/>
                                            <path d="M20 29.25C19.9025 29.25 19.7888 29.2338 19.675 29.2175C19.5775 29.2013 19.48 29.1688 19.3825 29.12C19.285 29.0875 19.1875 29.0388 19.09 28.9738C19.0087 28.9088 18.9275 28.8438 18.8462 28.7788C18.5537 28.47 18.375 28.0475 18.375 27.625C18.375 27.2025 18.5537 26.78 18.8462 26.4713C18.9275 26.4063 19.0087 26.3413 19.09 26.2763C19.1875 26.2113 19.285 26.1625 19.3825 26.13C19.48 26.0813 19.5775 26.0488 19.675 26.0325C19.8863 25.9838 20.1137 25.9838 20.3087 26.0325C20.4225 26.0488 20.52 26.0813 20.6175 26.13C20.715 26.1625 20.8125 26.2113 20.91 26.2763C20.9913 26.3413 21.0725 26.4063 21.1537 26.4713C21.4462 26.78 21.625 27.2025 21.625 27.625C21.625 28.0475 21.4462 28.47 21.1537 28.7788C21.0725 28.8438 20.9913 28.9088 20.91 28.9738C20.8125 29.0388 20.715 29.0875 20.6175 29.12C20.52 29.1688 20.4225 29.2013 20.3087 29.2175C20.2112 29.2338 20.0975 29.25 20 29.25Z" fill="#FCFCFF"/>
                                            <path d="M29.847 36.01H10.152C6.98328 36.01 4.56203 34.8562 3.32703 32.7762C2.10828 30.6962 2.27078 28.015 3.81453 25.2362L13.662 7.52374C15.287 4.59874 17.5295 2.98999 19.9995 2.98999C22.4695 2.98999 24.712 4.59874 26.337 7.52374L36.1845 25.2525C37.7283 28.0312 37.907 30.6962 36.672 32.7925C35.437 34.8562 33.0158 36.01 29.847 36.01ZM19.9995 5.42749C18.472 5.42749 16.977 6.59749 15.7908 8.70999L5.95953 26.4387C4.85453 28.4212 4.67578 30.2412 5.43953 31.5575C6.20328 32.8737 7.89328 33.5887 10.1683 33.5887H29.8633C32.1383 33.5887 33.812 32.8737 34.592 31.5575C35.372 30.2412 35.177 28.4375 34.072 26.4387L24.2083 8.70999C23.022 6.59749 21.527 5.42749 19.9995 5.42749Z" fill="#FCFCFF"/>
                                          </svg>
                                      </h5>
                                    </div>
                                    <div class="modal-body" id="error-messages">

                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
    </div>







    <!-- Подключение Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
