header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    margin-top: 80px;
    background-color: white;
    font-family: 'Manrope', sans-serif;
}

.banner {
    height: 587px !important;
    width: 1340px !important;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
}

.cards-advantages {
    margin-top: 160px !important;
}

.card-advantages {
    height: 300px !important;
}

.card {
    border-radius: 10px;
    position: relative;
}

.badge-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid white;
}

.card h6 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 300;
}

.card p {
    margin-top: 25px;
    font-size: 16px;
}

.recommendations {
    margin-top: 120px !important;
}

.watch-apart {
    background-color: #284356 !important;
    border-color: #284356 !important;
    border-radius: 10px !important;
    font-size: 20px;
    padding: 10px 20px !important;
}

.watch-apart:active {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.watch-apart:hover {
    background-color: #5f6a73 !important;
    border-color: #5f6a73 !important;
}

.watch-apart:focus {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.reserve {
    background-color: #284356 !important;
    border-color: #284356 !important;
    height: 58px !important;
    font-size: 20px;
}

.reserve:active {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.reserve:hover {
    background-color: #5f6a73 !important;
    border-color: #5f6a73 !important;
}

.reserve:focus {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.btn-outline-primary {
    border-color: #A8A7A7;
    color: black;
}

.btn-outline-primary:hover {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.btn-outline-primary:active {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.btn-outline-primary:focus {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.booking-logo {
    font-size: 24px;
    font-weight: bold;
}

.review-controls {
    position: absolute;
    top: -30px !important;
    right: 0;
}

.reviews-container {
    margin-top: 120px !important;
}

.services-container {
    margin-top: 120px !important;
}

#reviewsContainer {
    overflow: hidden;
    width: 100%;
}

.review-card-container {
    display: flex;
    gap: 16px;
    transition: transform 0.3s ease;
}

.review-card {
    height: 333px;
}

.card {
    flex: 0 0 32%;
    box-sizing: border-box;
}

.arrow {
    background-color: white;
    border: none;
}

.attraction-container {
    margin-top: 120px !important;
}

.questions-container {
    margin-top: 120px !important;
}

.questions {
    margin-top: 50px !important;
}

.questions-img {
    margin-top: -33px;
}

.accordion-item {
    border: none;
}

.accordion-button {
    border-bottom: 1px solid #ddd;
}

.accordion-button:not(.collapsed) {
    background-color: #284356 !important;
    color: white;
}

.accordion-button:not(.collapsed) {
    border-bottom: 1px solid #ddd;
}

.end-container {
    margin-top: 120px !important;
}

.form-end {
    margin-top: 100px !important;
    width: 30% !important;
    border-top: 4px solid grey !important;
}

.form-end-button{
    background-color: #284356 !important;
    border-color: #284356 !important;
    padding: 10px 20px;
}

.form-end-button:hover {
    background-color: #5f6a73 !important;
    border-color: #5f6a73 !important;
}

.footer {
    margin-top: -55px;
}

.watch-button-banner {
    background-color: rgba(255, 255, 255, 0) !important;
    border-color: white !important;
    border-radius: 10px !important;
    font-size: 20px;
    padding: 10px 20px;
}

.watch-button-banner:hover {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

nav a {
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 0.3s ease;
}

.active-nav {
    border-bottom: 3px solid black;
}

nav a:hover::after {
    width: 100%;
}

.catalog {
    margin-top: 170px !important;
}

.catalog-search {
    background-color: #284356 !important;
    border-color: #284356 !important;
}

.catalog-search:hover {
    background-color: #5f6a73 !important;
    border-color: #5f6a73 !important;
}

.services-apart {
    padding: 10px !important;
}

.apartment-details {
    margin-top: 150px !important;
}

.bron {
    background-color: #284356 !important;
    border-color: #284356 !important;
    font-size: 16px;
    padding: 10px 20px;
}

.bron:hover {
    background-color: #5f6a73 !important;
    border-color: #5f6a73 !important;
}

a {
    text-decoration: none;
    color: black;
}

.reservation {
    margin-top: 150px !important;
}

.info-bron {
    border-radius: 10px !important;
    border: 1px solid #284356 !important;
    height: 506px;
    margin-top: -60px;
}

.payment-container {
    margin-top: 120px !important;
}

.login-container {
    margin-top: 80px !important;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/e9ea8783c07a8e1dc43b22eb5aa77793.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(40%);
    z-index: -1;
}

.login-content {
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.login-button {
    background-color: white !important;
    border-color: white !important;
    color: black;
    padding: 20px !important;
}

.login-button:hover {
    color: black;
}

.register-button-login {
    background-color: transparent !important;
    border: 1px solid white !important;
    padding: 20px !important;
}

.register-button-login:hover {
    background-color: white !important;
    color: black;
}

.login-content .form-control {
    background-color: transparent !important;
    color: #A8A7A7 !important;
    padding: 20px !important;
}

.form-control::placeholder {
    color: #A8A7A7 !important;
}

.login-content .form-control::placeholder {
  color: #A8A7A7 !important;
}

.login-content .form-control::-webkit-input-placeholder {
  color: #A8A7A7 !important;
}

.login-content .form-control::-moz-placeholder {
  color: #A8A7A7 !important;
}

.login-content .form-control:-ms-input-placeholder {
  color: #A8A7A7 !important;
}

.sidebar {
    position: fixed;
    top: 0;
    right: -370px;
    width: 370px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1001;
    overflow-y: auto;
}

.sidebar-content {
    padding: 20px;
    position: relative;
}

#closeSidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: #333;
    cursor: pointer;
}

.sidebar.open {
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

.overlay.show {
    display: block;
}

#logoutLink {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    height: 156px !important;
}

#loginErrorModal .modal-header {
    background-color: #284356 !important;
    color: white !important;
    justify-content: center !important;
}

#loginErrorModal #error-messages {
    text-align: center;
}

#loginErrorModal #modalMessage {
    text-align: center;
}

#loginErrorModal .modal-footer {
    justify-content: center;
}

#loginErrorModal button {
    background-color: white;
    color: #284356 !important;
    border: 1px solid #284356 !important;
}

#loginErrorModal button:hover {
    background-color: #284356 !important;
    color: white !important;
}

.form-control:focus {
    border-color: #284356 !important;
    box-shadow: none !important;
}

.form-select:focus {
    border-color: #284356 !important;
    box-shadow: none !important;
}

.img-apart {
    width: 100% !important;
    height: 470px !important;
    border-radius: 10px !important;
}

.card-apart-main {
    border: none;
    box-shadow: none !important;
}

.card-apart-catalog {
    border: none;
    box-shadow: none !important;
}

.card-desc-apart {
    margin-top: 13px !important;
}

.card-apart-block-price {
    margin-top: 23px !important;
}

.reservation-block-price {
    margin-top: 85px !important;
}

#days-count {
    margin-top: 7px;
}

.reservation-apart-info {
    margin-top: 40px;
}

.reservation-form-contact input, .reservation-form-contact textarea {
    border-color: #284356 !important;
}